<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FizzBuzz</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/fizzbuzz.js"></script>
</head>
<body>

<form id="frm1">
    Type a number to get Fizz / Buzz / FizzBuzz / alfresco:<br> <input type="text" id="number" name="number"><br>
    <input type="button" id="get" value="Submit">
</form>

<h1 id="response"></h1>
</body>
</html>